{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="d-flex justify-content-center">
  <h1 class="fw-light m-5">글정보</h1>
</div>
<div class="container my-5" style="width: 600px">
  <div class="p-4" style="box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%); border-radius: 15px;">
    {% if request.user == article.writer %}
    <form action="{% url 'articles:delete' article.pk %}" method="POST" class="form">
      {% csrf_token %}
      <div class="d-block d-lg-none">
        <a href="{% url 'articles:update' article.pk %}" class="btn btn-outline-primary form-control mb-3">수정</a>
        <input class="btn btn-outline-danger form-control mb-3" type="submit" value="삭제">
        <a href="{% url 'articles:index' %}" class="btn btn-outline-secondary form-control mb-3">뒤로</a>
      </div>
      <div class="d-none d-lg-block">
        <a href="{% url 'articles:update' article.pk %}" class="btn btn-outline-primary">수정</a>
        <input class="btn btn-outline-danger" type="submit" value="삭제">
        <a href="{% url 'articles:index' %}" class="btn btn-outline-secondary">뒤로</a>
      </div>
    </form>
    {% else %}
    <div class="d-block d-lg-none">
      <button class="btn btn-outline-primary form-control mb-3 disabled">수정</button>
      <button class="btn btn-outline-danger form-control mb-3 disabled">삭제</button>
      <a href="{% url 'articles:index' %}" class="btn btn-outline-secondary form-control mb-3">뒤로</a>
    </div>
    <div class="d-none d-lg-block">
      <button class="btn btn-outline-primary disabled">수정</button>
      <button class="btn btn-outline-danger disabled">삭제</button>
      <a href="{% url 'articles:index' %}" class="btn btn-outline-secondary">뒤로</a>
    </div>
    {% endif %}
    <div class="d-flex justify-content-end">
      <a class="mx-2" href="{% url 'articles:update' article.id %}">
        {% bootstrap_button button_type="submit" button_class="btn-primary" content="수정" %}
      </a>
      <a class="mx-2" href="{% url 'articles:delete' article.id %}">
        {% bootstrap_button button_type="submit" button_class="btn-primary" content="삭제" %}
      </a>
    </div>
    <h1>{{ article.title }}</h1>
    <p class="text-muted">{{ article.writer }} <span class="fw-light">|</span> {{ article.created_at }}</p>
    </p>
    <hr>
    <p class="m-0">{{ article.content }}</p>

    <div class="d-flex gap-2 justify-content-end">
      <a href="{% url 'accounts:index' %}" class="btn"
        style="width: 95px; background-color: #ff0558; color: white;">목록으로</a>
    </div>
  </div>
</div>
{% endblock %}