{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="d-flex justify-content-center">
  <h1 class="fw-light m-5">회원목록</h1>
</div>

<div class="container" style="width: 1000px">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">작성일</th>
      </tr>
    </thead>
    <tbody>
      {% for article in articles %}
      <tr>
        <td scope="row">{{ forloop.counter }}</td>
        <td scope="row"><a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a></td>
        <td scope="row">{{ article.writer }}</td>
        <td scope="row">{{ article.created_at }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="d-flex justify-content-end">
    <a class="btn btn-primary mx-1" href="{% url 'accounts:update' %}">수정</a>
  </div>
</div>
{% endblock %}