{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="d-flex justify-content-center">
  <h1 class="fw-light m-5">게시글 작성</h1>
</div>
<div class="container my-5" style="width: 700px">
  <div class="p-4" style="box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%); border-radius: 15px;">
    <form class="p-5" action="" method="POST">
      {% csrf_token %}
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">작성</button>
      </div>
      {% bootstrap_form form %}

    </form>
    <form class="p-5" action="." method="POST">
      {% csrf_token %}
      <div class="d-flex justify-content-end">
        <a class="btn" type="submit">작성완료</a>
      </div>
      <h2><input class="input-title form-control mb-3" style="border:0px; font-size: 1.5rem;" name="title"
          placeholder="제목"></h2>
      <hr>
      <textarea rows="40" cols="40" class="form-control mt-3" style="border:0px" name="content"
        placeholder="내용"></textarea>
    </form>
  </div>
</div>
{% endblock %}