.navbar {
    opacity: 95%;
}

ul {
    color: white;
    list-style: none;
}

.card {
    border: none;
    border-radius: 14px;
    box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%);
    padding: 0px;
}

.card-img-top {
    height: 276px;
}

.card-body p{
    overflow: scroll;
    height: 50px;
}

.dropdown button {
    color: #767778;
}

.dropdown button:hover {
    color: black;
    border: none;
}

.dropdown button:active {
    color: #767778;
}

.dropdown button::after {
    border: none;
}

.banner {
    opacity: 95%;
    background-color: rgb(246, 246, 246);
}

.banner2 {
    background-image: url(/assets/banner2.jpeg);
    background-size: cover;
    height: 700px;
}

h6 {
    margin-bottom: 0px;
}

.button1 a:hover {
    color: #fec428;
}

.btn-outline-dark:hover, .btn-outline-dark:focus, .btn-outline-dark:active, .btn-outline-dark.active, .open>.dropdown-toggle.btn-outline-dark {
    color: #fec428;
}